/* Stili per schermi con larghezza minore o uguale a 768px */
@media (max-width: 768px) {
  .container {
    width: 100%;
  }

  nav ul {
    display: block;
  }

  nav ul li {
    flex: none;
    width: 100%;
  }

  section {
    margin-bottom: 10px;
  }
}

/* Stili per schermi con larghezza maggiore di 768px */
@media (min-width: 769px) {
  .container {
    width: 80%;
  }

  nav ul {
    display: flex;
  }

  nav ul li {
    flex: 1;
    width: auto;
  }

  section {
    margin-bottom: 20px;
  }
}


/* Introduction Styles for screens with width less or equal to 768px */
@media (max-width: 768px) {
  .introduction {
    padding: 10px;
  }

  .introduction h2 {
    font-size: 1.5em;
  }
}

/* Introduction Styles for screens with width greater than 768px */
@media (min-width: 769px) {
  .introduction {
    padding: 20px;
  }

  .introduction h2 {
    font-size: 2em;
  }
}

